.results {
    align-items: center;
    background: inherit;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    width: 1200px;
    justify-content: flex-start;
    gap: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
}

.errorContainer {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    color: #333;
}

.errorContainer h1 {
    font-size: 72px;
    margin-bottom: 20px;
}

.errorContainer p {
    font-size: 36px;
    margin-bottom: 30px;
}
