.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.pagination button {
    width: 150px;
    height: 60px;
    font-size: 24px;
    background-color: white;
    color: #3498db;
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.pagination button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #1b313f;
}

.pagination button:disabled {
    background-color: white;
    cursor: not-allowed;
    color: rgb(224, 224, 221);
}

.pagination span {
    font-size: 24px;
    margin: 0 10px;
    color: black;
}
