.cardList {
    display: flex;
    flex-direction: row;
}

.cardList__container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 200px;
}

.cardList h3 {
    color: black;
}

.errorContainer {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    color: #333;
}

.results {
    align-items: center;
    background: inherit;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
    width: 1200px;
    justify-content: flex-start;
    gap: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 80vh;
}