.Error__container {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  color: #333;
}

.Error__container h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.Error__container p {
  font-size: 36px;
  margin-bottom: 30px;
}
